<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <style>
        body {
          background-image: linear-gradient(90deg,rgb(29, 29, 199),rgb(38, 134, 169),rgb(42, 42, 220));
          font-family: 'Courier New', Courier, monospace;
          text-align: center;
        }
        h1{
          color: aliceblue;
          font-size: 60px;
        }
    </style>
    <script src="http://127.0.0.1:5000/snakejs"></script>
</head>
<body>
    <h1>Snake game</h1>
    <canvas id="board"></canvas>
</body>
</html>