<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url('https://pbs.twimg.com/media/D6RpqwDXsAA7x_C?format=jpg&name=large'); 
        }
        h2{
            margin-left: 48%;
            margin-top: 35%;
            font-size: 110px;
            color: white;
        }
        a{
            text-decoration: none;
            color: azure;
        }
    </style>
    <title>Gaming hub!</title>
</head>
<body>
    <h2><a href="http://127.0.0.1:5000/welcome">Tap to start...</a></h2>
</body>
</html>